.filter-container {
  position: relative;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.filter-container .filter-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 75%;
}

.list-todos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  padding: 1em;
  width: 100%;
  /* border: 1px solid red; */
}
