.header-container {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em;
  color: rgb(239, 239, 239);
  background-color: rgba(25, 25, 25);
  gap: 10em;
  box-shadow: 0 0 10px 1px rgba(25, 25, 25);
}

.site-nav ul {
  display: flex;
  align-items: center;
  gap: 3em;
}

.site-nav ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.site-nav ul li:hover {
  color: rgb(0, 126, 255);
}

.site-nav .nav-btn {
  background-color: rgb(0, 126, 255);
  outline: 1px solid rgb(0, 126, 255);
  padding: 0.5em 1.8em;
  border-radius: 1em;
  font-weight: 500;
}

.site-nav .nav-btn:hover {
  color: rgb(239, 239, 239);
  background-color: rgba(0, 126, 255, 0.9);
}

.site-nav .nav-btn-transparent:hover {
  background-color: rgb(239, 239, 239);
  color: rgba(25, 25, 25);
}

.site-nav .nav-btn-transparent {
  background: transparent;
  outline: 1px solid rgb(239, 239, 239);
}

@media only screen and (max-width: 1024px) {
  .header-container {
    justify-content: space-between;
    width: 100%;
  }
  .hidden-menu {
    display: none;
  }
}
