.pagination-nav ul {
  display: flex;
  gap: 0.5em;
}

.pagination-nav ul li {
  margin: 0 auto;
  list-style: none;
  outline: 1px solid rgb(0, 126, 255);
  min-width: 2em;
  min-height: 2em;
  color: rgb(25, 25, 25);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-nav ul li:hover {
  background-color: rgb(0, 126, 255);
  color: rgb(239, 239, 239);
}

.pagination-nav ul .active {
  background-color: rgb(0, 126, 255);
  color: rgb(239, 239, 239);
}
