.search-container {
  height: 25em;
  padding: 1em 1em;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.search-container .searchTodoInfo {
  text-align: center;
}

.searchtodo-form {
  display: flex;
  gap: 2em;
  flex-grow: 0.1;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  /* outline: 2px solid red; */
  padding: 0.9em;
  height: 10em;
  background-color: rgb(255, 255, 255);
}

.searchtodo-form input {
  width: 4em;
  padding: 0.5em;
  font-size: 0.8em;
}

.searchtodo-form input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.searchtodo-form input[type="number"] {
  -moz-appearance: textfield;
}

.searchtodo-form .searchtodo-inputs {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  width: 50%;
}

.searchtodo-form .search-complete-status {
  display: flex;
  gap: 0;
  width: 100%;
  align-self: flex-start;
}
