*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(239, 239, 239);
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
